@using System.Linq
@helper PostDate(DateTime rawDate) {
    <time datetime="@rawDate.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss")" pubdate data-updated="true">@rawDate.ToString("MMM d, yyyy")</time>
}

<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>@Model.Title</title>
    <link rel="stylesheet" href="@Model.Root/stylesheets/styles.css">
    <link rel="stylesheet" href="@Model.Root/stylesheets/pygment_trac.css">
    <link rel="shortcut icon" href="@Model.Root/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- FSharp.Formatting Styles -->
  	<link rel="stylesheet" type="text/css" media="screen" href="@Model.Root/fsharp.formatting/tooltips.css" />
  	<script type="text/javascript" src="@Model.Root/fsharp.formatting/tooltips.js"></script>
    <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
    <script type="text/javascript">var switchTo5x=true;</script>
    <script type="text/javascript" src="https://ws.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "81ce46a6-ba61-410c-bb73-5204cc8efed1", doNotHash: false, doNotCopy: false, hashAddressBar: true});</script>  </head>
  <body>
	  <header>
        <div class="logo">
            <a href="@Model.Root/index.html"><img src="@Model.Root/images/jet_logo.png" /></a>
            <br />
            <h3>@Model.Title</h3>
        </div>
        <div class="social">
            <ul>
                <li>
                    <a href="https://twitter.com/jettechnology"></a>
                </li>
                <li>
                    <a href="https://twitter.com/jet"></a>
                </li>
                <li>
                    <a href="https://www.facebook.com/jet"></a>
                </li>
                <li>
                    <a href="https://www.github.com/jet"></a>
                </li>
                <li>
                    <a href="https://linkedin.com/company/jet-com"></a>
                </li>
                <li>
                    <a href="https://plus.google.com/118328800025960082059/posts"></a>
                </li>
            </ul>
            <br />
            <p class="sitelink"><a href="http://jet.com">visit Jet.com</a></p>
        </div>
      </header>
          <leftpanel>
                  <h2>Jet is hiring!</h2>
                  <ul>
                      <li><a href="https://jet.com/about-us/join-our-crew">Join our crew</a></li>
                      <li><a href="http://careers.stackoverflow.com/jobs/employer/Jet.com">StackOverflow Careers</a></li>
                      <li><a href="https://www.linkedin.com/vsearch/j?page_num=1&keywords=Jet%2Ecom&locationType=Y&f_C=5268907&trk=careers_promo_module_see_jobs">LinkedIn Jobs</a></li>
                      <li><a href="http://www.indeed.com/cmp/Jet.com-3">Indeed Listings</a></li>
                  </ul>
                  <h2>Tags</h2>
                    
                    </leftpanel>
      <section>
        @RenderBody()
       </section>
      <footer>
        <p><small>Hosted on GitHub Pages</small></p>
      </footer>
    <script src="@Model.Root/javascripts/scale.fix.js"></script>
  </body>
</html>
 